.header {
  height: 3rem;
  background: #094a89;
  color: white;
  align-items: center;
  margin-bottom: 2.0286rem;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav .nav-links {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
}

.nav .nav-links li {
  list-style: none;
}

.nav .nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
